USE [master]
GO
/****** Object:  Database [OnlineExam]    Script Date: 5/30/2021 4:25:42 PM ******/
CREATE DATABASE [OnlineExam]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'OnlineExam', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\OnlineExam.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'OnlineExam_log', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\OnlineExam_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [OnlineExam].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [OnlineExam]
GO
/****** Object:  Table [dbo].[mcqCourseDetail]    Script Date: 5/30/2021 4:25:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[mcqCourseDetail](
	[courseID] [varchar](50) NULL,
	[courseName] [varchar](300) NULL,
	[examNo] [varchar](50) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[mcqQS]    Script Date: 5/30/2021 4:25:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[mcqQS](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[course] [varchar](50) NULL,
	[qsId] [varchar](50) NULL,
	[qsNo] [varchar](50) NULL,
	[qs] [varchar](700) NULL,
	[op1] [varchar](300) NULL,
	[op2] [varchar](300) NULL,
	[op3] [varchar](300) NULL,
	[op4] [varchar](300) NULL,
	[ans] [varchar](300) NULL,
	[tag] [varchar](100) NULL,
	[eTime] [varchar](50) NULL,
 CONSTRAINT [PK_mcqQS2] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[mcqTaken]    Script Date: 5/30/2021 4:25:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[mcqTaken](
	[studentID] [varchar](50) NULL,
	[courseID] [varchar](50) NULL,
	[courseName] [varchar](300) NULL,
	[examNo] [varchar](50) NULL,
	[mark] [numeric](10, 2) NULL,
	[eMark] [varchar](50) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[text]    Script Date: 5/30/2021 4:25:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[text](
	[id] [varchar](50) NULL,
	[name] [varchar](50) NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[theoryAns]    Script Date: 5/30/2021 4:25:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[theoryAns](
	[studentID] [varchar](50) NULL,
	[courseID] [varchar](50) NULL,
	[qsID] [varchar](50) NULL,
	[qsNo] [varchar](50) NULL,
	[qsA] [varchar](500) NULL,
	[ansA] [varchar](1000) NULL,
	[markA] [numeric](10, 2) NULL,
	[isAprove] [varchar](50) NULL,
	[abc] [varchar](50) NULL,
	[def] [varchar](50) NULL,
	[qsB] [varchar](500) NULL,
	[markB] [numeric](10, 2) NULL,
	[ansB] [varchar](1000) NULL,
	[mark] [numeric](10, 2) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[theoryCourseDetail]    Script Date: 5/30/2021 4:25:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[theoryCourseDetail](
	[courseID] [varchar](50) NULL,
	[courseName] [varchar](300) NULL,
	[examNo] [varchar](50) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[theoryCourseQueue]    Script Date: 5/30/2021 4:25:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[theoryCourseQueue](
	[student_ID] [varchar](50) NULL,
	[courseID] [varchar](50) NULL,
	[qsID] [varchar](50) NULL,
	[abc] [varchar](50) NULL,
	[def] [varchar](50) NULL,
	[aaa] [varchar](50) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[theoryQS]    Script Date: 5/30/2021 4:25:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[theoryQS](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[course] [varchar](50) NULL,
	[qsId] [varchar](50) NULL,
	[qsNo] [varchar](50) NULL,
	[qsA] [varchar](700) NULL,
	[markA] [numeric](10, 2) NULL,
	[qsB] [varchar](700) NULL,
	[markB] [numeric](10, 2) NULL,
	[eTime] [varchar](50) NULL,
	[abc] [nchar](10) NULL,
 CONSTRAINT [PK_theoryQS] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[theoryQueue]    Script Date: 5/30/2021 4:25:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[theoryQueue](
	[courseID] [varchar](50) NULL,
	[courseName] [varchar](100) NULL,
	[count] [varchar](50) NULL,
	[tmp1] [varchar](50) NULL,
	[tmp2] [varchar](50) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[theoryTaken]    Script Date: 5/30/2021 4:25:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[theoryTaken](
	[studentID] [varchar](50) NULL,
	[courseID] [varchar](50) NULL,
	[courseName] [varchar](300) NULL,
	[examNo] [varchar](50) NULL,
	[mark] [numeric](10, 2) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[userInfo]    Script Date: 5/30/2021 4:25:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[userInfo](
	[id] [varchar](20) NOT NULL,
	[name] [varchar](50) NULL,
	[department] [varchar](50) NULL,
	[email] [varchar](30) NULL,
	[semester] [varchar](50) NULL,
	[gender] [varchar](10) NULL,
	[password] [varchar](50) NULL,
	[fatherName] [varchar](50) NULL,
	[hall] [varchar](50) NULL,
	[image] [varchar](50) NULL,
	[no_of_exam] [int] NULL,
	[total_mark] [float] NULL,
	[rank] [int] NULL,
	[abc] [varchar](50) NULL,
	[def] [varchar](50) NULL,
 CONSTRAINT [PK_userInfo] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
USE [master]
GO
